body {
    transition: background-color 0.3s, color 0.3s;
  }
  
  .light-mode {
    background-color: white;
    color: black;
  }
  
  .dark-mode {
    background-color: #1a1a1a;
    color: white;
  }
  